.big-letter p:first-child:first-letter {
	float: left;
	color: #222;
	font-size: 8em;
	line-height: 0.8em;
	text-transform: uppercase;
	padding-top: 0px;
	padding-right: 0.1em;
	padding-left: –0.03em;
}

/* Firefox Fix */

@-moz-document url-prefix() {
    .big-letter p:first-child:first-letter {
        padding-top: 0.08em;
    }
}
